.background {
  background-color: rgb(238, 255, 65);
}

.logo {
  /* height: 500px; */
  background-image: url(branded_image.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.progressBar {
  background-color: rgb(238, 255, 65);
}

.splash {
  /* height: 500px; */
  background-image: url(branded_image.jpg);
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.watermark {
  /* background-image: url(watermark.png); */
  background-size: 57px 57px;
}
